<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SecureJournal</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <!-- Pages in Pages folder -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Index">Index</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Dashboard">Dashboard</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Journal">Journal</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Entries">Entries</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Calendar">Calendar</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Analytics">Analytics</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Settings">Settings</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Settingss">Settingss</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AboutUs">About Us</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Login">Login</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Register">Register</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="NotFound">NotFound</NavLink>
        </div>

        <!-- Components (optional links if you want to navigate to them directly) -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EntryCard">Entry Card</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MoodSelector">Mood Selector</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Routes">Routes</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="StreakWidget">Streak Widget</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TagSelector">Tag Selector</NavLink>
        </div>
    </nav>
</div>
